head
	title ReapBenefit Fundraiser
	html(lang="en")
	meta(name="title" content="ReapBenefit Fundraiser")
	meta(name="description" content="A student-led intitiative to aid needy families in Hubli, Karnataka") 
	meta(name="keywords" content="hubli karnataka student-led intitiative ReapBenefit reapbenefitfundraiser Fundraiser donation")
	meta(name="charset" content="utf-8")
	meta(name="viewport" content="width=device-width initial-scale=1.0, user-scalable=no")
	meta(name="language" content="English")
	meta(name="author" content="Krish Goel · KrishSkywalker")
	//- OG MetaData
	meta(property="og:title" content="ReapBenefit Fundraiser")
	meta(property="og:description" content="A student-led intitiative to aid needy families in Hubli, Karnataka")
	meta(property="og:url" content="https://reapbenefitfundraiser.herokuapp.com")
	meta(property="og:type" content="website")
	meta(property="og:locale" content="en_US")

	//- JQuery
	script(src="https://code.jquery.com/jquery-3.1.0.js")

	//- Bootstrap grid
	link(rel="stylesheet" href="/stylesheets/BootstrapGrid/grid.css" crossorigin="anonymous")
	script(src="/javascripts/BootstrapGrid/gridOne.js"	crossorigin="anonymous")
	script(src="/javascripts/BootstrapGrid/gridTwo.js" crossorigin="anonymous")
	script(src="/javascripts/BootstrapGrid/gridThree.js" crossorigin="anonymous")

	//- Stylesheet
	link(rel="stylesheet" href="/stylesheets/style.css")