footer#reachUs
	.widthRestriction
		br
		.row
			.col-lg-12.center
				h1.white Parent Organisations
		.row
			.col-lg-1
			.col-lg-3
				img(src="/images/logos/reapBenefitLogo.png")
			.col-lg-4
			.col-lg-3
				img(src="/images/logos/solveNinjaLogo.png")
		.row
			.col-lg-2
			.col-lg-4
				h2.mustard About us
				p.white We are a team of four 12th Grade students from Sanskriti School, New Delhi. Seeing the plight of the less privileged in the current scenario showed us that we must live not only for ourselves but also do what we can to improve the quality of life for those around us. We are motivated by a desire to help those in need, and learn to be better humans through these experiences.
			.col-lg-1
			.col-lg-4
				h2.mustard Reach us
				.reachContact
					p
						| • &nbsp; Adhiraj Singh
						br
						a(href="https://api.whatsapp.com/send?phone=919773524239&text=Hi%20Adhiraj%2c%20I%20found%20your%20contact%20on%20your%20website%20for%20the%20ReapBenefit%20Fundraiser.&source=&data=&app_absent=") &nbsp; &nbsp; &nbsp;WhatsApp 
						a(href="tel: +91-9773524239") 📞 Telephone
					p
						| • &nbsp; Akshaj Sharma
						br
						a(href="https://api.whatsapp.com/send?phone=919716377777&text=Hi%20Akshaj%2c%20I%20found%20your%20contact%20on%20your%20website%20for%20the%20ReapBenefit%20Fundraiser.&source=&data=&app_absent=") &nbsp; &nbsp; &nbsp;WhatsApp 
						a(href="tel: +91-9716377777") 📞 Telephone
					p
						| • &nbsp; Krish Goel
						br
						a(href="https://api.whatsapp.com/send?phone=917428014370&text=Hi%20Krish%2c%20I%20found%20your%20contact%20on%20your%20website%20for%20the%20ReapBenefit%20Fundraiser.&source=&data=&app_absent=") &nbsp; &nbsp; &nbsp;WhatsApp
						a(href="tel: +91-7428014370") 📞 Telephone
					p
						| • &nbsp; Raghav Sarangi
						br
						a(href="https://api.whatsapp.com/send?phone=917838961623&text=Hi%20Raghav%2c%20I%20found%20your%20contact%20on%20your%20website%20for%20the%20ReapBenefit%20Fundraiser.&source=&data=&app_absent=") &nbsp; &nbsp; &nbsp;WhatsApp
						a(href="tel: +91-7838961623") 📞 Telephone
		.row 
			.col-lg-12
				.gradient.azure-fern(style="margin-bottom: 30px")
				p.center.white
					| Made with ❤️ by &nbsp;
					a(href="https://krishgoel.herokuapp.com").azure Krish Skywalker
//- 
