section.slideshow#slideshow
	.slide#slide1
		.widthRestriction
			h1(style="color: #1ab471; background-color: rgba(0,0,0,0.6)")
				| “Non nobis solum nati sumus."
				br
				| - Marcus Tullius Cicero
			h2.italic (Not for ourselves alone are we born.)
	.slide#slide2
		.widthRestriction
			h1(style="color: #1ab471; background-color: rgba(0,0,0,0.6)")
				| “Non nobis solum nati sumus."
				br
				| - Marcus Tullius Cicero
			h2.italic (Not for ourselves alone are we born.)
	.slide#slide3
		.widthRestriction
			h1(style="color: #1ab471; background-color: rgba(0,0,0,0.6)")
				| “Non nobis solum nati sumus."
				br
				| - Marcus Tullius Cicero
			h2.italic (Not for ourselves alone are we born.)